.shake-rotate-right{
    display: inherit;
    transform-origin: center center; }
  
  .shake-constant.shake-constant--hover:hover{
    animation-play-state: paused; }
  
  @keyframes shake-rotate {
    0%, 100% {
      transform: translate(0, 0) rotate(20deg); }
    
    50% {
      transform: translate(0, 0) rotate(-20deg); }
    }
  
  .shake-rotate.shake-constant {
    animation-name: shake-rotate;
    animation-duration: 2500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }