html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bakgrunnur {
  
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background-image: linear-gradient(#ee7307, #461a4d);
}

.smetti {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.sjomli_img {
    width: 40%;
}

h1 {
    font-family: permanent-marker, sans-serif;
    letter-spacing: .1em;
    font-style: normal;
}

.shake-rotate {
    display: inherit;
    transform-origin: center center; }
  
  .shake-constant.shake-constant--hover:hover{
    animation-play-state: paused; }
  
  @keyframes shake-rotate {
    0%, 100% {
      transform: translate(0, 0) rotate(20deg); }
    
    50% {
      transform: translate(0, 0) rotate(-20deg); }
    }
  
  .shake-rotate.shake-constant {
    animation-name: shake-rotate;
    animation-duration: 2500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }