html {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    /* background-position: center center;
    background-image: url(/myndir/t1.png ); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.smetti {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.sjomlimg {
    width: 50%;
}