html, body {
    font-family: monospace;
    font-size: 20px;
}

p {
    margin: 0;
    min-height: 1em;
}

#can {
    border: 1px solid red;
}

#prison {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
    margin: 0 auto;
}

#prison h1, h2, h3 {
    align-self: center;
}

#prison h2, h3 {
    margin: 0;
}

.side {
    align-self: flex-start;
}