:root {
    --grid-width: 0;
    --grid-height: 0;
}

html, body {
    padding: 0;
    margin: 0;
    /* background-image: url("../../myndir/tileset/himinn.png");
    background-repeat: repeat; */
    
}

main {
    display: grid;
    grid-template-columns: 192px 1fr;
    /* gap: 64px; */
}

#grid {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    height: 64px;
}

.cell {
    display: inline-block;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    background-color: white;
}
.cell-grid {
    border: 1px solid gray;
}
.chooser {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* gap: 1em; */
}

.pallette-row {
    height: 32px;
}

.pallette-cell {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid gray;
    background-size: cover;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.valid {
    filter: brightness(1.55);
}

.tomt {
    background-image: url(../../myndir/tileset/himinn.png);
}

.gth {
    background-image: url(../../myndir/tileset/gras-top-h.png);
}
.gtm {
    background-image: url(../../myndir/tileset/gras-top-m.png);
}
.gtv {
    background-image: url(../../myndir/tileset/gras-top-v.png);
}

.gmh {
    background-image: url(../../myndir/tileset/gras-mid-h.png);
}
.gmm {
    background-image: url(../../myndir/tileset/gras-mid-m.png);
}
.gmv {
    background-image: url(../../myndir/tileset/gras-mid-v.png);
}

.gbh {
    background-image: url(../../myndir/tileset/gras-botn-h.png);
}
.gbm {
    background-image: url(../../myndir/tileset/gras-botn-m.png);
}
.gbv {
    background-image: url(../../myndir/tileset/gras-botn-v.png);
}
.sth {
    background-image: url(../../myndir/tileset/sky-top-h.png);
}
.stm {
    background-image: url(../../myndir/tileset/sky-top-m.png);
}
.stv {
    background-image: url(../../myndir/tileset/sky-top-v.png);
}

.smh {
    background-image: url(../../myndir/tileset/sky-mid-h.png);
}
.smm {
    background-image: url(../../myndir/tileset/sky-mid-m.png);
}
.smv {
    background-image: url(../../myndir/tileset/sky-mid-v.png);
}

.sbh {
    background-image: url(../../myndir/tileset/sky-botn-h.png);
}
.sbm {
    background-image: url(../../myndir/tileset/sky-botn-m.png);
}
.sbv {
    background-image: url(../../myndir/tileset/sky-botn-v.png);
}

@media screen and (min-width: 750px) {
    .pallette-cell {
        width: 64px;
        height: 64px;
    }
    .pallette-row {
        height: 64px;
    }
}