

.banner {
    // display: flex;
    // flex-direction: column;
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    width: 120px;

    a {
        text-decoration: none;
        color: black;
        margin: .5em;
        
    }

    .btn {
        background: $l1;
        color: $l5;
        border: 2px solid $l5;
        border-radius: 10px;
        padding: 2px;
        transition: 0.15s;
        

        &:hover {
            color: $l1;
            background-color: $l5;
        }
    }

    h3 {
        text-align: center;
        margin-block: 4px;
        margin-inline: 4px;
    }

    
}

.blogg {

    background-color: $l4;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-column-gap: 20px;
    padding-bottom: 5em;

    .content-title {
        margin: auto
    }
}

.content {
    grid-row: 2;
    grid-column: 1;
    margin: 0 auto;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-column-gap: 20px;
    row-gap: 20px;
}

.single-post {
    background: $l5;
    border: 5px solid $l1;
    border-radius: 12px;
    padding: 0 2em;    
    color: $l1;
    position: relative;

    img {
        width: 100%;
        margin-bottom: 2em;
        border: 5px solid $l1;
        border-radius: 12px;
    }

    h2 {
        text-align: center;
    }

    .info {
        font-style: italic;
        position: absolute;
        padding-top: 2px;
        right: 10px;
        bottom: 7px;
        margin-top: 7px;
    }

    .category {
        position:absolute;
        left: 15px;
        bottom: 5px;
        font-weight: bold;
        color: $l1;
        background: $l5;
        padding: 2px;
        margin-left: 10px;
        margin-top: 7px;        
        border-radius: 5px;
        border: 2px solid $l1;

        &:hover {
            background: $l1;
            color: $l5;
        }
    }
    
    span {
        color: $l1;
    }

    .img-holder {
        display: flex;
        justify-content: center;
    }
}

.post:hover {
    background: $l1;

    h2,a,span {
        color: $l5;
    }

    img {
        border-color: $l5;
    }
}

.sidebar-content {
}

.category-card {
    margin: 0 1em;
    background: $l5;
    border: 5px solid $l1;
    border-radius: 12px;
    padding: 0 2em;
    height: fit-content;
    text-align: center;
    color: $l1;

    a {
        background: $l5;
        padding: 2px;
        border: 3px solid $l1;
        border-radius: 7px;
        font-weight: bold;
        color: $l1;
        display: block;
        margin-bottom: 1em;
        transition: .15s;

        &:hover {
            background: $l1;
            color: $l5;
        }
    }
}

.stat-card {
    margin: 1em 1em 0 1em;
    background: $l5;
    border: 5px solid $l1;
    border-radius: 12px;
    padding: 0 2em;
    height: fit-content;
    color: $l1;
    padding: .25em;

    h2 {
        margin: 0;
        margin-top: 15px;
        text-align: center;
    }

    p {
        margin: 0;
        margin-bottom: 15px;
        text-align: center;
    }

    .single-stat {
        margin: .5em 1em;
        font-weight: bold;
        display: block;
    }
}