//main palletta
$l1:#7983a8;
$l2: #27325c;
$l3: #6985f5;
$l4: #465075;
$l5: #13192e;

//imports
@import "./blogg";

body {
    background: $l1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}