body{
  background-color:#77dd77;
}

.container {
  /* position: relative; */
  /* margin: auto; */
  background-color: red;
  
}

img {
  width: 50%;
  position: absolute;
}

.andlit {
  position: absolute;
}

svg {
  position: absolute;
}
