:root {
    --background-color: black;
    --font-color: white;
}

body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: monospace;
}

p,h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background: var(--background-color);
    color: var(--font-color);
    max-width: 1000px;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10vh 90vh;
}

img {
    max-width: 100%;
}

.top_title {
    display: flex;
    height: 2em;
    padding: 1em;
    justify-self: center;
    align-self: center;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 1em;
}

header nav a {
    text-decoration: none;
    color: var(--font-color);
    padding: .25em;
    margin-bottom: .5em;
    border-bottom: .05em solid var(--font-color);
    transition: .25s ease-in-out;
}

header nav a:hover {
    background: white;
    color: var(--background-color);
}

main {
    padding: 1em;
    max-height: 80%;
    overflow-y: scroll;
}

.main_content {
    display: flex;
    flex-direction: column;
}

.single_content{
    margin-bottom: .5em;
    border-radius: 1em;
    padding: .5em;
}

.single_head {
    border-bottom: .05em solid var(--font-color);
    padding-bottom: .5em;
    margin-bottom: .5em;
    display: flex;
    max-height: 5em;
    overflow: hidden;
}

.single_head img {
    height: 4em;
    border-radius: 50%;
}

.single_head_text {
    display: flex;
    flex-direction: column;
    padding-left: .5em;
}

.single_head_text p, .single_head_text h2 {
    margin-bottom: .125em;
}

footer {
    /* background: red; */
}

@media only screen and (max-width: 600px) {
    body {
        grid-template-columns: 1fr 4fr;
    }
    footer, .footer_title {
        display: none;
    }
}
@media only screen and (max-width: 200px) {
    body {
        grid-template-columns: 1fr;
    }
    header, footer ,.footer_title, .header_content{
        display: none;
    }
}