section {
    margin: 1em;
    /* border-top: 2px solid black; */
}

.who h2 {
    margin: 0.5em 0;
    border-bottom: 2px solid black;
}

.who-am-i-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.who-will-i-title {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contact-me h2 {
    text-align: center;
    margin-bottom: 0;
}

.contact-me legend {
    margin-top: 0;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.contact-me ul {
    padding-inline-start: 0;
    margin: 1em 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.contact-me a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 85px;
    height: 60px;
    text-decoration: none;
    color: black;
}

.contact-me a:nth-child(1) {
    justify-self: flex-start;
}

.contact-me a:nth-child(2) {
    justify-self: flex-end;
}

.logos {
    width: 1.5em;
    margin-bottom: 0.25em;
}

.myndir {
    display: flex;
        flex-direction: column;
        justify-content: center;
    padding: 1em;
}

.myndir img {
    object-fit: cover;
}

.myndir p {
    text-align: center;
}

.myndir .inputs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5em;
}

.input-group {
    display: flex;
    gap: 1em;
    border-bottom: 3px solid black;
    padding: 0.25em;
}

.myndir #mynd {
    border: 3px solid black;
    margin-bottom: 0.5em;
    aspect-ratio: 1/1;
    background-size: cover;
    background-image: linear-gradient(blue, red);
}

.check {
	appearance: none;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 7px;
	cursor: pointer;
	display: grid;
	height: 2em;
	margin: 0;
	place-content: center;
	width: 2em;
    justify-self: flex-end;
}

.check::before {
	border-radius: 50px;
	box-shadow: inset 1em 1em #000;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	content: '';
	height: 1.5em;
	transform: scale(0);
	transform-origin: center;
	transition: 0.1s;
	width: 1.5em;
}

.check:checked::before {
	transform: scale(0.95);
}

.m1 {
    background-image: url("./myndir/andlit2/m1.jpg") !important;
    /* width: fit-content; */
}
.m2 {
    background-image: url("./myndir/andlit2/m2.jpg") !important;
}
.m3 {
    background-image: url("./myndir/andlit2/m3.jpg") !important;
}
.m4 {
    background-image: url("./myndir/andlit2/m4.jpg") !important;
}

@media screen and (min-width: 850px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .myndir {
        grid-column: 1;
        grid-row: 1;
        

        margin: auto;
    }

    .who-am-i {
        grid-column: 2/4;
    }

    .who-will-i {
        grid-column: 1/4;
    }

    .contact-me {
        align-self: center;
    }

    /* .input-group {
        border: 0;
        text-align: center;
        flex-direction: column;
        align-items: center;
    } */
}

@media screen and (min-width: 1100px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1em;
    }

    section {
        margin: 0 1em;
    }
    
    .who {
        grid-column: 2/4;
    }
    
    .who-am-i {
        grid-row: 1;
    }
    .who-will-i {
        grid-row: 2;
        grid-column: 1/4;
    }

    .myndir {
        grid-column: 1;
        grid-row: 1;
    }

    .contact-me {
        grid-column: span 3;
        grid-row: 3;
    }

}
